header {
    background-color: #70184a;
    position: relative;
    height: 200px;
}


.logo img {
    position:absolute;
    width: 180;
    height: 200px;
    top: 0;
}

div.right-upper-nav{
    font-size: 20px;
    position: absolute;
    right: 200px;
    bottom: 20px;
    color: aliceblue;
    font-size: 25px;
}
nav {
    background-color: rgba(24, 0, 48, 0.532) ;
}


div.left-upper-nav 
 {    position: absolute;
    left: 200px ;
    bottom: 20px;

    font-size: 25px;
}

.banner{
    position: relative;
    background-color: antiquewhite;
    height: 300px;

    background-image:
     url(../images/banner-background.jpg);

    
    background-repeat: repeat-x;
}

.banner button {
    position:absolute;
    right: 100px;
    top: 50%;
    font-size: 20px;}


